<div class="index">
  <h1>The PokeBook</h1>
  <div>
    The Social Media Page for PokemonGo Trainers
  </div>

  <div class="link">
    <p class="link">
      <%= link_to 'Add Pokemon to your Pokedex', new_pokemon_path %>
    </p>
  </div>
</div>
