
@font-face {
  font-family: 'pokemon';
  src: font-url('/assets/Pokemon_Hollow');
}

@font-face {
  font-family: 'pokemon_solid';
  src: font-url('/assets/Pokemon_Solid');
}

h1 {
  font-family: "pokemon_solid";
}

.main-title {
  font-family: "pokemon";
}

body {
  background-color: #2BA0EA;
}

.index {
  text-align: center;
}

.new {
  text-align: center;
}

a {
  color: red;
}

.medium-2.columns.input-group {
  width: 35em;
}

.select {
  margin-bottom: 0em;
}

ul {
  list-style-type: none;
}

.show {
  text-align: center;
}

.all {
  text-align: center;
}

.show {
  margin-left: 20%;
  margin-right: 20%;

}

.top-bar {
  height: 3em;
}

.callout {
  background-color: #FFC90D;
  border-radius: 25px;
}

.last-row {
  background-color: black;
}

td {
  background-color: #FFC90D;
}

th {
  background-color: #2BA0EA;
}

tr {
  border: none;
}

.fight {
  margin-right: 39em;
  margin-top: 5em;
}

.alert {
  clear: both;
  color: red;
  font-size: 20px;
  text-align: center;
}

.form-title {
  text-align: center;
}



.form {
  margin-left: 20%;
  margin-right: 20%;
}

.title {
text-align: center;
}
